backend {
  default = {{ .BackendConfig.Default }}

  providers {
    {{ range .Providers }}
    {{ .Name }} {
      actor-factory = "{{ .ActorFactor }}"
      config {
        max-concurrent-workflows = {{ .Config.MaxConcurrentWorkflows }}
        concurrent-job-limit = {{ .Config.ConcurrentJobLimit }}

        filesystems {
          local {
            localization: [
            {{ range .Config.FileSystems.LocalFilesystem.Localization }}"{{ . }}",{{ end }}
            ]
          }
        }
      }
    }
    {{ end }}
  }
}

engine {
  filesystems {

    {{- if .Engine.GcsFilesystem }}
    gcs {
      auth = "{{ .Engine.GcsFilesystem.Auth }}"
    }
    {{- end }}

    {{- if .Engine.HTTP }}
    http {}
    {{- end }}

	{{- if .Engine.LocalFilesystem }}
    local {
      localization: [
        {{ range .Engine.LocalFilesystem.Localization }}"{{ . }}",{{ end }}
      ]
    }
	{{- end }}
  }
}

database {
  profile = "{{ .Database.Profile }}"
  db {
    driver = "{{ .Database.Driver }}"
    url = "{{ .Database.URL }}"
    user = "{{ .Database.User }}"
    password = "{{ .Database.Password }}"
    connectionTimeout = {{ .Database.ConnectionTimeout }}
  }
}

call-caching {
  enabled = {{ .CallCaching.Enabled }}
  invalidate-bad-cache-results = {{ .CallCaching.InvalidateBadCacheResults }}
}

docker {
    perform-registry-lookup-if-digest-is-provided = {{ .Docker.PerformRegistryLookupIfDigestIsProvided }}
}
